ul {
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35rem;
    background-color: #f5f0f0;
}

li {
    margin: 1rem 0 ;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid rgb(70, 65, 65);
    padding-bottom: 1rem;
}

li:last-of-type,
li:nth-of-type(6) {
    border-bottom: none;
}

li a {
    text-decoration: none;
    color: rgba(53, 54, 58, 0.26);
}

li a:hover,
li a:active{
    color: rgb(126,1,84);
}